* {
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 0;
}

.back-button {
  position: fixed;
  top: 20px;
  left: 20px;
  color: #3d5a92;
  border-radius: 5px;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  font-size: 14px;
  font-weight: bold;
  transition: background-color 0.3s;
}

.back-button:hover {
  background-color: #3d5a92;
  color: white;
  transition: background-color 0.3s;
}

.interview-container {
  max-width: 800px;
  margin: 120px auto;
  padding: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.295);
  background-color: #ffffff;
  border-radius: 5px;
}

.interview-question span {
  color: #3d5a92;
  font-weight: bold;
  font-size: 20px;
}

.interview-question p {
  margin-top: 20px;
  font-size: 16px;
}

.interview-answer {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.interview-answer textarea {
  width: 100%;
  height: 200px;
  resize: none;
  margin-top: 20px;
  padding: 10px;
  font-size: 14px;
  border: 1px solid #ccc;
  box-sizing: border-box;
  border-radius: 5px;
}

.interview-answer button {
  margin-top: 20px;
  background-color: #3d5a92;
  color: white;
  border-radius: 5px;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  font-size: 14px;
  font-weight: bold;
  transition: background-color 0.3s;
}

.interview-answer button:hover {
  background-color: #357abd;
  transition: background-color 0.3s;
}


.button-disabled {
  background-color: #ccc;
  cursor: not-allowed;
}

.feedback-summary {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.feedback-container {
  width: 45%; /* Ajuste conforme necessário */
  padding: 20px;
  box-sizing: border-box;
  border-radius: 5px;
  margin: 20px auto; /* Adicionado para garantir espaço entre os boxes quando eles se ajustam */
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  background-color: #ffffff;
}

.feedback-container h3 {
  margin-bottom: 10px;
}

.feedback-container p {
  margin: 10px;
}

.feedback-positive,
.feedback-improvement {
  padding: 10px;
  border-radius: 5px;
  margin-bottom: 10px;
}

.feedback-positive {
  background-color: #d4edda; /* Verde claro para feedback positivo */
}

.feedback-improvement {
  background-color: #f8d7da; /* Vermelho claro para feedback de melhoria */
}

@media screen and (max-width: 1200px) {
  .interview-container {
    width: 90%;
    margin: 50px auto;
  }
}