* {
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 0;
}

.back-button {
  position: fixed;
  top: 20px;
  left: 20px;
  color: #3d5a92;
  border-radius: 5px;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  font-size: 14px;
  font-weight: bold;
  transition: background-color 0.3s;
}

.back-button:hover {
  background-color: #3d5a92;
  color: white;
  transition: background-color 0.3s;
}

.interview-container {
  max-width: 800px;
  margin: 120px auto;
  padding: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.295);
  background-color: #ffffff;
  border-radius: 5px;
}

.interview-question span {
  color: #3d5a92;
  font-weight: bold;
  font-size: 20px;
}

.interview-question p {
  margin-top: 20px;
  font-size: 16px;
}

.interview-answer {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.interview-answer textarea {
  width: 100%;
  height: 200px;
  resize: none;
  margin-top: 20px;
  padding: 10px;
  font-size: 14px;
  border: 1px solid #ccc;
  box-sizing: border-box;
  border-radius: 5px;
}

.interview-answer button {
  margin-top: 20px;
  background-color: #3d5a92;
  color: white;
  border-radius: 5px;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  font-size: 14px;
  font-weight: bold;
  transition: background-color 0.3s;
}

.interview-answer button:hover {
  background-color: #357abd;
  transition: background-color 0.3s;
}

.feedback-container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.feedback-box {
  width: 45%;
  padding: 20px;
  box-sizing: border-box;
  border-radius: 5px;
  margin: 25px auto;
  box-shadow: 0 0 5px rgba(42, 160, 13, 0.89);
  background-color: #ffffff;
  font-size: 1.7em;
  font-weight: bold;
  color: #3d924b;
}

.feedback-box-improvement {
  width: 45%;
  padding: 20px;
  box-sizing: border-box;
  border-radius: 5px;
  margin: 25px auto;
  box-shadow: 0 0 5px rgba(240, 31, 31, 0.658);
  background-color: #ffffff;
  font-size: 1.7em;
  font-weight: bold;
  color: #e94747;
}

.feedback-box h2 {
  margin-top: 0;
  color: #3d5a92;
}

.feedback-box-improvement h2 {
  margin-top: 0;
  color: #3d5a92;
}

@media screen and (max-width: 1200px) {
  .interview-container {
    width: 90%;
    margin: 50px auto;
  }

  .feedback-box,
  .feedback-box-improvement {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 80%;
    font-size: 1.2em;
    text-align: center;
  }
}
