* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.cadastro {
  background-color: #f8f8f8;
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.App-cadastro {
  width: fit-content;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.377);
  padding: 2%;
  border-radius: 10px;
  background-color: #fff;
  margin: 10% auto;
  margin-top: 10%;
  padding: 5rem;
  width: 40%;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.App-cadastro h1 {
  font-size: 5vh;
}

.App-cadastro form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  margin-top: 1rem;
}

.App-cadastro form input {
  width: 100%;
  padding: 1rem;
  border: 1px solid #3d5a92;
  border-radius: 5px;
  font-size: 1rem;
}

.App-cadastro form input:focus {
  outline: none;
  border-color: #2c4373;
  box-shadow: 0 0 5px #4c6eb8;
  transition: border-color 0.3s, box-shadow 0.3s;
}

.App-cadastro form label {
  font-size: 1rem;
  font-weight: bold;
  color: #303030;
  width: 100%;
  text-align: left;
}

#password-label-and-info {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: fit-content;
  margin-right: auto;
  gap: 0.5rem;
}

.password-info {
  display: none;
  position: absolute; 
  left: 105%;
  top: 0; 
  white-space: nowrap; 
  background-color: #f0f0f0;
  padding: 15px 35px 15px 35px; 
  border-radius: 8px;
  font-size: 0.9rem;
  box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.5);
  z-index: 1000;
}

#password-label-and-info:hover .password-info {
  display: block; 
}

.App-cadastro form button {
  width: 100%;
  padding: 1rem;
  border: none;
  border-radius: 5px;
  background-color: #3d5a92;
  color: #fff;
  font-size: 1rem;
  cursor: pointer;
  font-weight: bold;
  transition: background-color 0.3s;
  width: 50%;
}

.App-cadastro form button:hover {
  background-color: #2c4373;
  transition: background-color 0.3s;
}

.App-cadastro p {
  text-align: center;
}

@media (max-width: 768px) {
  .App-cadastro {
    width: 80%;
  }

  .App-cadastro h1 {
    font-size: 2em;
  }
}
